body {
  background: white;
}

.container {
position: absolute;
}

/* .slot {
  width: 70px;
  height: 70px;
  background-color: #FF4136;
  float: left;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightcoral;
}

.slot.border-outer {
  border: 5px dotted lightcoral;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot.border-inner1 {
  border: 2px solid lightcoral;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slot.border-inner2 {
  border: 2px solid lightcoral;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}

.row {
  float: left;
} */

.inner {
  top: 8px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: #ccc;
}

.ear.right {
  transform: translateX(170px);
}

.nose {
  top: 110px;
  left: 60px;
  width: 60px;
  height: 30px;
  background-color: black;
  box-shadow:         0px -30px 0px 0px #ccc;
}
